.drawer {
  inset: 0;
  position: fixed;
  z-index: 50;
  background-color: hsl(from var(--slate\.950) h s l / 85%);

  &__content {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: transparent;
    background-color: var(--neutral\.50);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 0;
    z-index: 50;
    margin-top: var(--mt-24);
    left: 0px;
    right: 0px;
    top: 0px;
    height: auto;

    &--children {
      margin-left: auto;
      margin-right: auto;
      margin-top: var(--mt-4);
      height: var(--h-2);
      width: 100px;
      border-radius: var(--border-radius\:md);
      background-color: var(--slate\.300);
    }
  }

  &__header {
    gap: var(--gap\:2);
    padding: var(--padding\:4);
    text-align: center;

    @media (max-width: 639px) {
      text-align: left;
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap\:2);
    padding: var(--padding\:4);
  }

  &__title {
    font-size: var(--biggerTextSize);
    font-weight: 500;
    color: var(--slate\.900);
    line-height: 1;
    letter-spacing: -0.025rem;
  }

  &__description {
    font-size: var(--smallerTextSize);
    color: var(--slate\.400);
  }
}