.input {
  display: block;
  width: 100%;
  padding: var(--padding\:1\.5) var(--padding\:3);
  font-size: var(--font-size\:1);
  line-height: 1.5;
  color: var(--slate\.900);
  border: 1px solid;
  border-color: var(--slate\.200);
  border-radius: var(--border-radius\:md);
  outline: none;
  box-shadow: var(--shadow\:sm);

  &:focus,
  &:focus-visible
  &:active {
    border-color: var(--slate\.400);
  }
}