.issue-view {
  display: grid;
  grid-template-columns: 3fr 250px;
  height: 100%;

  @media screen and (max-width: 769px) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    padding-left: 0.275rem;
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width: calc(100% - 75px);
    max-width: 76ch;
    
    @media screen and (max-width: 769px) {
      padding-right: 0.375rem;
      padding-left: 0.375rem;
      width: 100%;
   }

    &__header {
      text-align: left;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    &__description {
      font-size: 0.975rem;
      font-weight: 300;
      line-height: 1.85;
      max-width: 75ch;
    }
  }

  &__sidebar {
    margin-top: -2.25rem;
    background-color: var(--neutral\.50);
    border-left: 1px solid;
    border-color: var(--slate\.200);
    padding-top: 0.275rem;
    

    @media screen and (max-width: 769px) {
      order: -1;
      border-bottom: 1px solid var(--slate\.200);
      border-left: 0px;
      margin-top: 0rem;
    }

    &__header {
      font-size: 0.775rem;
      font-weight: 500;
      color: var(--slate\.700);
      padding-top: 0.275rem;
      padding-left: 1.5rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 769px) {
        padding-top: 0rem;
        padding-left: 1.5rem;
        margin-bottom: 0rem;
      }
      & > p {
        @media screen and (max-width: 769px) {
          display: none;
        }
      }
    }

    &__properties {
      padding-top: 0.5rem;
      padding-left: 1.5rem;
      font-size: 0.875rem;
      font-weight: 300;
      color: var(--slate\.900);
      padding-right: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: rem;
      padding-right: 5rem;

      @media screen and (max-width: 769px) {
        flex-direction: row;
        padding-bottom: 0.375rem;
        padding-right: 0rem;
        padding-left: 0.37rem;
        padding-top: 0.375rem;

      }

      &__property {
        display: flex;
        gap: 0.775rem;
        align-items: center;
        padding: 0.275rem;
        padding-right: 3rem;
        min-width: 10rem;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 0.875rem;
        border-radius: var(--border-radius\:md);

        @media screen and (max-width: 769px) {
          flex-direction: row;
          width: max-content;
          min-width: auto;
          padding: 0.275rem 0.375rem;
          margin-bottom: 0rem;
        }

        & > svg {
          height: 0.975rem;
          width: 0.975rem;
          color: var(--slate\.400);
        }

        & > span {
          font-size: 0.845rem;
          font-weight: 500;
          color: var(--slate\.700);
        }

        &:hover {
          cursor: default;
          background-color: var(--slate\.100);
        }
      }
    }
  }
}