.loader__layout {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container__cell__issues-list {
  &__empty-set {
    text-align: center;
  }
}

.status__header {
  width: 100%;
  padding: 0.375rem;
  padding-left: 2rem;
  font-size: 0.875rem;
  background-color: var(--slate\.100);
  display: flex;
  gap: 0.375rem;
  
  &__icon {
    display: flex;
    align-items: center;

    & > svg {
      color: hsl(from var(--slate\.950) h s l / 60%);
      height: 0.875rem;
      width: 0.875rem;
    }
  }

  &__title {
    font-size: 0.775rem;
  }
}

.issues-list {
  &__cell {
    text-align: left;
  }

  &__cell:last-child {
    // margin-left: auto;
  }

}