.sheet-overlay {
  position: fixed;
  inset: 0px;
  z-index: 50;
  background-color: hsl(from var(--slate\.950) h s l / 89%);

  &[data-state=open] {

  }

  &[data-state=closed] {

  }
}

.sheet-content {
  position: fixed;
  z-index: 50;
  gap: var(--gap\:sm);
  background-color: var(--neutral\.50);
  padding: var(--padding\:6);
  box-shadow: var(--shadow\:sm);

  &--top {
    left: 0px;
    right: 0px;
    top: 0px;
    border-bottom: 1px solid var(--slate\.600);

    &[data-state=closed] {
      animation: slie-out-to-top 150ms ease-out;
    }

    &[data-state=open] {
      animation: slide-in-from-top 150ms ease-out;
    }
  }

  &--bottom {
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid var(--slate\.600);

    &[data-state=closed] {
      animation: slide-out-to-bottom 150ms ease-out;
    }

    &[data-state=open] {
      animation: slide-in-from-bottom 150ms ease-out;
    }
  }

  &--left {
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 75%;
    border-right: 1px solid var(--slate\.600);

    &[data-state=closed] {
      animation: slide-out-to-left 150ms ease-out;
    }

    &[data-state=open] {
      animation: slide-in-from-left 150ms ease-in;
    }

    @media screen and (max-width: 768px) {
      max-width: 24rem;
    }
  }

  &--right {
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 75%;
    border-left: 1px solid var(--slate\.600);

    &[data-state=closed] {
      animation: slide-out-to-right 150ms ease-out;
    }

    &[data-state=open] {
      animation: slide-in-from-right 150ms ease-out;
    }

    @media screen and (max-width: 768px) {
      max-width: 24rem;
    }
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 100px;
    opacity: 70%;
    transition: all 75ms ease;
    background: transparent;
    color: var(--slate\.600);
    border: none;
    padding: 0.5rem;
    display: grid;
    place-items: center;

    &:hover {
      opacity: 100%;
      background-color: var(--slate\.200);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 50%;
    }

    &[data-state=open] {
      background-color: magenta;
    }

    &__icon {
      height: 1rem;
      width: 1rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-top: var(--mt-2);
    text-align: center;

    @media (min-width: 640px) {
      text-align: left;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 640px) {
      justify-content: flex-end;
      margin-left: var(--ml-2);
    }
  }

  &__title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--slate\.700);
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--slate\.500);
  }
}