.loader {
  
  &--color-primary {
    color: var(--slate\.800);
  }
  
  &--color-secondary {
    color: var(--neutral\.50);
  }

  &--size-xs {
    width: 0.275rem;
    height: 0.275rem;
    animation: animate-spin 1s linear infinite;
  }

  &--size-sm {
    width: 0.5rem;
    height: 0.5rem;
    animation: animate-spin 1s linear infinite;
  }

  &--size-md {
    width: 1rem;
    height: 1rem;
    animation: animate-spin 1s linear infinite;
  }
  
  &--size-lg {
    width: 4rem;
    height: 4rem;
    animation: animate-spin 1s linear infinite;
  }

  &--size-xl {
    width: 7rem;
    height: 7rem;
    animation: animate-spin 1s linear infinite;
  }
}