.table-container {
  position: relative;
  width: 100%;
  overflow: auto;
  width: 100%;

  @media screen and (max-width: 769px) {
  }
  
  &__table {
    table-layout: fixed;
    font-size: 0.825rem;
    color: var(--slate\.500);
    border-spacing: 0;
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid var(--slate\.500);
    background-color: hsl(from var(--slate\.950) h s l / 5%);
    
  }

  &__body {
    &:last-child {
      border-bottom: none;
    }
  }

  &__footer {
    border-top: 1px solid var(--slate\.500);
    background-color: hsl(from var(--slate\.950) h s l / 65%);
    font-weight: 600;

    &:last-child {
      border-bottom: none;
    }
  }

  &__row {
    // border-bottom: 1px solid var(--slate\.500);
    width: 100%;
    display: grid;
    grid-template-columns: 80px repeat(auto-fit, minmax(100px, 1fr));
    gap: 0;

    &:hover {
      background-color: hsl(from var(--slate\.950) h s l / 3%);
    }
  }

  &__head {
    height: 1.75rem;
    padding: 0.175rem;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    color: var(--slate\.00);
    font-size: 0.855rem;
    font-weight: 500;
    border-bottom: 1px solid var(--slate\.200);

    &:first-child {
      padding-left: 2rem;
    }
  }

  &__cell {
    padding: 0.475rem;
    vertical-align: middle;
    color: var(--slate\.900);
    border-bottom: 1px solid var(--slate\.200);
    
    &:first-child {
      padding-left: 2rem;
      color: var(--neutral\.400);
      width: max-content;
      font-weight: 400;
    }

    &__empty-set {
      text-align: center !important;
      border-bottom-width: 0px;
      color: var(--slate\.400);
    }

    &:last-child {
      @media screen and (max-width: 769px) {
        display: none;
      }
      text-align: right;
    }
  }

  &__caption {
    margin-top: 1.25rem;
    font-size: 0.775rem;
    color: var(--slate\.500);
  }
}

