.textarea {
  display: flex;
  min-height: 60px;
  width: 100%;
  border-radius: var(--border-radius\:md);
  border: 1px solid;
  border-color: var(--slate\.200);
  background-color: transparent;
  padding: var(--padding\:2) var(--padding\:3);
  font-size: 0.825rem;
  box-shadow: var(--shadow\:sm);
  outline: none;
  resize: vertical;
  line-height: 1.5;

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &:focus,
  &:focus-visible
  &:active {
    border-color: var(--slate\.400);
  }
}